<div class="container">
    <h1>Courses</h1>
    
    <a class="btn btn-sm btn-outline-success mb-3" [routerLink]="[ '/course-save' ]">Create</a>    

    <table class=" table table-bordered">
        <thead class="text-center">
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Credits</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of courses">
                <td class="text-center">{{item.CourseID}}</td>
                <td>{{item.Title}}</td>
                <td class="text-center">{{item.Credits}}</td>
                <td>
                    <div class="btn-group " role="group">
                        <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/course-edit', item.CourseID ]">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/course-delete', item.CourseID ]">Delete</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>